DB_HOST=mysql-xxxxxxxx-yourproject.h.aivencloud.com
DB_PORT=10020
DB_USER=avnadmin
DB_PASSWORD=your-aiven-password
DB_NAME=defaultdb
DB_CA_CERT="-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----"
